/* body{
    background-color: #c00e0e;
      box-sizing: border-box;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #00f;
      padding: 20px;
      font-size: 20px;
      margin: 10px auto;
      width: 600px;
      text-align: justify;
      text-shadow: 1px 1px 2px #000;
      box-shadow: 0px -8px 10px red , 20px  20px  red;
} */

/* .div-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;
  padding: 10px; 
}
*/

.tableauPlaceholder{
    border: 5px solid #000000; 
    padding: 5px; 
    margin: 25px 50px 75px;
    height: 400px;
}

body{
    width:80%;
}